<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class = "w-full h-full bg-zinc-900 p-10 text-white">
        <div class = "nav mb-10 text-yellow-200">
            <a href="/">HOME</a>
        </div>
        <h1 class= "text-3xl tracking-tighter mb-3">All Users</h1>
        
        <% if(users.length > 0) { %>
            <div class="users flex gap-3 flex-wrap">
                <% users.forEach(function(user){ %>
                    <div class = "user w-72 p-4 bg-zinc-700 rounded-lg">
                        <div class = "w-full h-72 bg-zinc-600 rounded-lg overflow-hidden">
                            <img class = "w-full h-full object-cover" src="<%= user.image %>" alt="">
                        </div>
                        <h3 class = "text-xl mt-3 tracking-tighter"><%= user.name %></h3>
                        <h5 class = "text-zinc-400"><%= user.email %></h5>
                        <div class = "flex gap-3 mt-10">
                            <a class = "text-zinc-200" href="/edit/<%= user._id %>">Edit</a>
                            <a class = "text-red-500" href="/delete/<%= user._id %>">Delete</a>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <h3 class="text-xl text-center mt-10 text-zinc-400">No users yet.</h3>
        <% } %>
        
    </div>
</body>
</html>
